$primary-color: #FE8235;

.home-page {
  width: 100%;
  position: relative;
  margin: 0;
  display: flex;
  padding: 0;

  .hero {
    width: 100%;
    position: absolute;
    z-index: 9;
    top: 0;
    margin-top: 0;

    img {
        margin: 0;
        width: 100%;
        height: 130px;
        object-fit: cover;
    }
  }

   .user-details-form {
      background-color: rgb(238, 238, 238);
      height: 100vh;
      z-index: 100;
      display: block;
      margin-top: 100px;
      border-radius: 1.5rem 1.5rem 0 0;

      h4{
        margin: 1.2rem;
        font-size: .9rem;

        span {
            color: $primary-color;
        }
      }

      .form-section {
        padding-left: 1.3rem;
        padding-right: 1.3rem;

        .submit-btn{
          margin-top: 1.5rem;
          margin-bottom: 3rem;
        }
      }
   }

}