.primary-button {
    background-color: #FE8235;
    color: white;
    border: none;
    font-size: .7rem;
    padding: .7rem 1rem;
    font-family: "Manrope", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
}