@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Manrope", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
